<app-header></app-header>
<h1>{{title}}</h1>
<section>
  <ol>
    <h2><li>{{subtitulo}}</li></h2>
    <p>La interpolación no se utiliza para asignar , ni aumentar ni decrementar, tampoco para obtener tipo de función.</p>
    <ul>
      <li><h3>Data binding</h3></li>
      <p>{{saludo}}</p>
      <li><h3>Comparison</h3></li>
      <p> (a>b)?, 5 > 6? : {{a>b}}</p>
      <li><h3>Calculation</h3></li>
      <p>Si la base = 10 y la altura = 12. ¿Cuál es el área del rectangulo?: </p>
      <p>{{base*altura}}</p>
    </ul>
    
  </ol>
</section>
<app-boton>Inline template</app-boton>
<br><br>
<app-btn-clear></app-btn-clear>

<app-footer></app-footer>